article h2 {
    margin: 2vh 2vw;
}

article p {
    margin: 1vh 2vw;
    font-weight: 80;
}

details {
    border: grey 2px solid;
    border-radius: 10px;
    display: block;
    width: 90%;
    padding: 0.5vw;
    margin: 2vh 2vw;
    box-shadow: 0.3vw 0.2vw lightgrey;
}
summary {
    padding: 0;
    margin: 1vh 0;
}

details p {
    line-height: 2.5vh;
    margin: 0 1vw;
}